# This is comment line


VAR1= val1
VAR2 =val2
VAR3= val3
VAR4 = val4

VAR5="val5"
VAR6 ="val6"
VAR7= "val7"
VAR8 = "val8"

VAR9  = "val9 "
VAR10 = " val10"
VAR11 = "val11 # this is not comment"
VAR12 = "val12\""
VAR13 = val12\"
VAR14 = val14\"val14

HEREDOC1 =<< EOF
this is a test
of heredoc
number 1
EOF

HEREDOC2 =<<EOF
    this is a test
    of heredoc
    number 2
EOF

HEREDOC3  =<<  HOGEHOGE
1
 2
  3
   4
    5
     6
      7
HOGEHOGE
